sql-cte/resources/data1.txt
sql-cte/resources/data10.txt
sql-cte/resources/data11.txt
sql-cte/resources/data12.txt
sql-cte/resources/data13.txt
sql-cte/resources/data14.txt
sql-cte/resources/data15.txt
sql-cte/resources/data16.txt
sql-cte/resources/data17.txt
sql-cte/resources/data18.txt
sql-cte/resources/data19.txt
sql-cte/resources/data2.txt
sql-cte/resources/data20.txt
sql-cte/resources/data21.txt
sql-cte/resources/data22.txt
sql-cte/resources/data23.txt
sql-cte/resources/data24.txt
sql-cte/resources/data25.txt
sql-cte/resources/data26.txt
sql-cte/resources/data27.txt
sql-cte/resources/data28.txt
sql-cte/resources/data29.txt
sql-cte/resources/data3.txt
sql-cte/resources/data30.txt
sql-cte/resources/data31.txt
sql-cte/resources/data32.txt
sql-cte/resources/data33.txt
sql-cte/resources/data34.txt
sql-cte/resources/data35.txt
sql-cte/resources/data36.txt
sql-cte/resources/data37.txt
sql-cte/resources/data38.txt
sql-cte/resources/data39.txt
sql-cte/resources/data4.txt
sql-cte/resources/data40.txt
sql-cte/resources/data41.txt
sql-cte/resources/data42.txt
sql-cte/resources/data43.txt
sql-cte/resources/data44.txt
sql-cte/resources/data45.txt
sql-cte/resources/data46.txt
sql-cte/resources/data47.txt
sql-cte/resources/data48.txt
sql-cte/resources/data49.txt
sql-cte/resources/data5.txt
sql-cte/resources/data50.txt
sql-cte/resources/data51.txt
sql-cte/resources/data52.txt
sql-cte/resources/data53.txt
sql-cte/resources/data54.txt
sql-cte/resources/data55.txt
sql-cte/resources/data56.txt
sql-cte/resources/data57.txt
sql-cte/resources/data58.txt
sql-cte/resources/data59.txt
sql-cte/resources/data6.txt
sql-cte/resources/data60.txt
sql-cte/resources/data61.txt
sql-cte/resources/data62.txt
sql-cte/resources/data63.txt
sql-cte/resources/data64.txt
sql-cte/resources/data7.txt
sql-cte/resources/data8.txt
sql-cte/resources/data9.txt
sql-cte/resources/t.csv
